<div class="main-container" layout="row" flex>
    <md-sidenav class="main-sidenav md-sidenav-left" md-component-id="navigation-drawer" md-is-locked-open="true" layout="column">
        <md-content md-scroll-y flex layout="column">
            <md-accordion locked="true">
                <md-accordion-group>
                    <md-subheader class="md-no-sticky">Caption</md-subheader>

                    <md-accordion-content md-icon="home" md-heading="Courses" md-arrow="true">
                        <md-accordion-button href="#">Submenu 1</md-accordion-button>
                        <md-accordion-button href="#">Submenu 2</md-accordion-button>
                        <md-accordion-button href="#">Submenu 3</md-accordion-button>
                    </md-accordion-content>

                    <md-accordion-content md-heading="Syllabus" md-arrow="true">
                        <md-accordion-button href="#">
                            <md-icon ng-bind="'menu'"></md-icon> Submenu 1</md-accordion-button>
                        <md-accordion-button href="#">Submenu 2</md-accordion-button>
                        <md-accordion-button href="#">Submenu 3</md-accordion-button>
                    </md-accordion-content>

                    <md-accordion-content md-heading="Messages" md-arrow="true">
                        <md-accordion-button href="#">Submenu 1</md-accordion-button>
                        <md-accordion-button href="#">Submenu 2</md-accordion-button>
                        <md-accordion-button href="#">Submenu 3</md-accordion-button>
                    </md-accordion-content>
                </md-accordion-group>

                <md-accordion-group>
                    <md-divider></md-divider>

                    <md-subheader class="md-no-sticky">Caption</md-subheader>

                    <md-accordion-button href="#">Menu 4</md-accordion-button>
                </md-accordion-group>

                <md-accordion-group>
                    <md-divider></md-divider>

                    <md-subheader class="md-no-sticky">Caption</md-subheader>
                    <md-accordion-button href="#">Menu 5</md-accordion-button>
                    <md-accordion-button href="#">Menu 6</md-accordion-button>
                </md-accordion-group>
            </md-accordion>
        </md-content>
    </md-sidenav>

    <md-content class="main-content" md-scroll-y layout="column" flex>

    </md-content>
</div>
