<div class="main-container" layout="row" flex>
    <md-sidenav class="main-sidenav md-sidenav-left" md-component-id="navigation-drawer" md-is-locked-open="true" layout="column" md-whiteframe class="md-whiteframe-24dp">
        <md-content md-scroll-y flex layout="column">
            <md-accordion locked="true">
                <md-accordion-group>
                    <!--md-subheader class="md-no-sticky"-->
                    <md-toolbar scroll-shrink layout="row" layout-padding>

                        <div>
                            <h3>
                                <span>AKO</span>

                            </h3>
                        </div>
                    </md-toolbar>

                    <md-accordion-content ui-Sref="module" md-icon="dashboard" md-heading="Modules">
                    </md-accordion-content>

                    <md-accordion-content ui-Sref="syllabus" md-icon="sort" md-heading="Syllabus">
                    </md-accordion-content>

                    <md-accordion-content md-icon="email" md-heading="Messages" md-arrow="true" ng-click="$ctrl.gotoState('inbox')">
                        <md-accordion-button ui-Sref="inbox"><i class="material-icons">drafts</i>Inbox</md-accordion-button>
                        <md-accordion-button ui-Sref="sent"> <i class="material-icons">send</i>Sent </md-accordion-button>
                        <md-accordion-button ui-Sref="compose"><i class="material-icons">create</i>Compose Message</md-accordion-button>
                    </md-accordion-content>

                    <md-accordion-content md-icon="group" ui-Sref="userList" md-heading="People">
                    </md-accordion-content>

                    <md-divider></md-divider>
                    <md-accordion-content md-icon="settings" ui-Sref="userProfile" md-heading="Settings">
                    </md-accordion-content>
                </md-accordion-group>
            </md-accordion>
        </md-content>
    </md-sidenav>

    <md-content class="main-content" md-scroll-y layout="column" flex>

    </md-content>
</div>
