logging:
  level:
    .: error
    org.springframework: ERROR

app:
  name: "Ako LMS"
  qr_prefix: "https://chart.googleapis.com/chart?chs=200x200&chld=M%%7C0&cht=qr&chl="
jwt:
  header: Authorization
  expires_in: 86400 # 5 minutes
  mobile_expires_in: 86400 # 10 minutes
  secret: "r;b'isQMdewoRWO:%3$" # some strong secret

# set active profile here
spring:
  profiles:
    active: "prod"

---

# define properties for development
spring:
  profiles: dev
  datasource:
    url: jdbc:mariadb://localhost:3306/ako
    username: root
    password: root
  mail:
    username: akoatumd@gmail.com
    password: akoatumd123
    host: smtp.gmail.com 
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            enabled: true
    #protocol: smtp
    test-connection: true

---

# define properties for production
spring:
  profiles: prod
  datasource:
    url: jdbc:mariadb://ako.cwrnmurbtzdj.us-east-2.rds.amazonaws.com/ako
    username: ako
    password: "Enpm61320!7"
  mail:
    username: akoatumd@gmail.com
    password: akoatumd123
    host: smtp.gmail.com 
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            enabled: true
    #protocol: smtp
    test-connection: true