<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
<h1>Modules</h1>
<div layout="row" layout-align="center center">
    <md-button class="md-raised md-primary" ng-click="displayAddModuleForm()">Add Module</md-button>
</div>
<div ng-repeat="m in modules">
	<div layout="row" layout-align="left center">
		<md-button style="min-width: 22px;" class="md-raised md-primary" ng-click="addFile(m.id)">+</md-button>
		<md-button style="min-width: 22px;" class="md-raised md-primary" ng-click="deleteModule(m.id)">D</md-button>
		<md-button style="min-width: 22px;" class="md-raised md-primary" ng-click="publish(m)">P</md-button>
		<md-button style="min-width: 22px;" class="md-raised md-primary" ng-click="unpublish(m)">U</md-button>
		<md-button style="min-width: 22px;" class="md-raised md-primary" ng-click="displayEditForm(m)">E</md-button>
    	<md-accordion-content md-heading="{{m.name}} - {{m.description}} : Published = {{m.isPublished}}" md-arrow="true">
			<div ng-repeat="f in m.moduleFiles">
			</div>>
     	</md-accordion-content>
     </div>
</div>
