<!--Error Message-->
<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
<hr />


<!--Download Syllabus File-->
<div class="row">
    <md-button ng-href="{{syllabusLink}}" target="_blank">Download Syllabus</md-button>
</div>
<hr />


<!--Add/Edit Assignments-->
<div class="row" ng-show="userAdmin">
    <form ng-submit="addAssignment(assignment)">
        <div class="col-lg-8">
            <input class="form-control" placeholder="Enter Assignment" type="text" ng-model="assignment" required min="1" />
            <input type="date" id="dueDateInput" name="input" ng-model="resetDate.due_date" placeholder="yyyy-MM-dd" min="2017-08-31" max="2017-12-31" required />
	    </div>
    </form>
    <md-button class="md-raised md-primary save" ng-disabled="!assignment" ng-hide="editMode" ng-click="addAssignment(assignment)">Add Assignment</md-button>
    <md-button class="md-raised md-primary save" ng-disabled="!assignment" ng-show="editMode" ng-click="updateAssignment(assignment)">Save</md-button>
    <md-button class="md-raised md-primary save" ng-click="resetAssignmentField()">Reset</md-button>
</div>
<hr />


<!--Search Assignments-->
<div class="row">
    <div class="col-lg-8">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" id="search-query-3" ng-model="searchAssignment" 
                       typeahead="assignment for assignment in syllabus | filter:$viewValue | limitTo:8">
                  <span class="input-group-btn">
                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                  </span>
            </div>
        </div>
    </div>
</div>
<hr />


<!--List Assignments-->
<table class="table table-bordered table-striped" ng-show="syllabus.length > 0">
    <thead>
    <tr>
        <th style="text-align:left; width:350px;">Assignment</th>
        <th style="text-align:center; width:75px;"">Due Date</th>
        <th style="text-align:center; width:25px;" ng-show="userAdmin">Delete</th>
        <th style="text-align:center; width:25px;" ng-show="userAdmin">Update</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="assignment in syllabus | filter:searchAssignment">
        <td>{{assignment.assignment}}</td>
        <td>{{assignment.dueDate | date: "MM/dd/yyyy"}}</td>
        <td  style="width:70px;text-align:center;"><md-button class="md-raised md-primary save" ng-show="userAdmin" ng-click="deleteAssignment(assignment)">Delete</md-button></td>
        <td  style="width:70px;text-align:center;"><md-button class="md-raised md-primary save" ng-show="userAdmin" ng-click="editAssignment(assignment)">Update</md-button></td>
    </tr>
    </tbody>
</table>
<md-button class="md-raised md-warn save" style="text-align:center;"  ng-show="syllabus.length >= 1 && userAdmin" ng-click="deleteAll()">Delete All Assignments</md-button>
