<md-card>
  <div layout="row" style="background-color: white; height:100%">
    <div layout="column" layout-align="space-around center" flex="20" style="background-color:rgb(63,81,183)">
      <div layout align="center center">
        <img class="profile-pic" src="http://via.placeholder.com/200x200">
      </div>
      <div>
        <img src="http://via.placeholder.com/75x75">
      </div>
    </div>
    <div flex="80">
      <div layout="column">
        <md-input-container class="md-icon-float">
          <!-- Use floating label instead of placeholder -->
          <label style="margin-left:0px">First Name</label>
          <input ng-model="user.fname" type="text" style="padding-top:0">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <!-- Use floating label instead of placeholder -->
          <label style="margin-left:0px">Last Name</label>
          <input ng-model="user.lname" type="text" style="padding-top:0">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <!-- Use floating label instead of placeholder -->
          <label style="margin-left:0px">Email</label>
          <input ng-model="user.email" type="text" style="padding-top:0">
        </md-input-container>
        <md-input-container class="md-icon-float">
          <!-- Use floating label instead of placeholder -->
          <br>
          <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date of birth"></md-datepicker>
        </md-input-container>
        <div flex class="button">
          <md-button class="md-raised md-primary save">Save</md-button>
          <md-button class="md-raised cancel">Cancel</md-button>
        </div>
      </div>
    </div>
  </div>
</md-card>